---
extends: site.j2.html
default_block: main
title: Lobbycloud - Search
description: Listing page for Lobbycloud - Library of influences on public policy. 
---

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" style="background-color: #ffffff;">
		<div class="row">
			<div class="col-md-12">
				<div class="well" style="margin-top: 0.5em">
				<h2>Results for &quot;<span style="background-color: #e0e000;">identifiable</span>&quot;</h2>
				<p class="secondary"><span class="glyphicon glyphicon-filter"></span> 243 matches, 12 documents, 2 discussions
				<span class="label label-success">#JURI</span> <span class="label label-warning">#ITRE</span>
				<span class="label label-info">#IMCO</span>
				 <span class="label label-default">#GDPR</span>
				
				</span>
				</span></p>
				</div>				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tab-content">
						<ul class="list-group">
								<li class="list-group-item">
										<div class="row">
										<div class="col-md-8">
										<div class="well"><p class="doc-p" ><i>
											Furthermore it should be made clear that the
theoretical possibility to identify an individual is in itself</span> not sufficient for considering an
individual as <span style="background-color: #e0e000;">identifiable</span>.</i></p>
										<p class="doc-p"  ><span class="pull-right secondary">Page 19 of 63</span><br/></p>
										
										</div>
										<div class="well"><p class="doc-p" ><i>
											To
determine whether a person is
specifically individually <span style="background-color: #e0e000;">identifiable</span>,
account should be taken of all the
means likely reasonably to be used
by the controller (or by the recipient
of the data in case of disclosures) to
identify the specific individual.</i></p>
										<p><span class="pull-right secondary">Page 21 of 63</span><br/></p>
										
										</div>
										<p>
										  5 more matches in this document <span class="label label-default">Show</span> <span class="label label-danger"><span class="glyphicon glyphicon-plus-sign" style="font-size: 100%; top: 0.2em; margin-right: 0.5em;" ></span>start new discussion</span>
										</p>

										</div>
										<div class="col-md-4"><p class="doc-p" >
																						<a href="./document-view.html">Draft DIGITALEUROPE amendments </a> <span class="secondary"> 3 days ago, 45 Pages <span class="badge" style="background-color: #D9534F;">2 discussions</span></span> <span class="pull-right"><span class="label label-success">#JURI</span> <span class="label label-warning">#ITRE</span></span></p>

										</div>
									    </div> <!--row-->
								</li>
								<li class="list-group-item">
																			<div class="row">
										<div class="col-md-8">
										<div class="well"><p class="doc-p" ><i>
											Ensuring the data is secure during the process of anonymisation (since at this stage it remains personal data) is
necessary. But since this type of processing will aim to ensure the data can no longer be related to any
identified or <span style="background-color: #e0e000;">identifiable</span> person, any further requirements under this Regulation would only pose unnecessary
burdens to competent authorities and businesses without effectively advancing the protection of privacy.</i></p>
										<p><span class="pull-right secondary">Page 1 of 123</span><br/></p>
										
										</div>
										<div class="well"><p class="doc-p" ><i>
											Anonymous data are those
data altered in such a way that the
specific identity of the data subject
is no longer <span style="background-color: #e0e000;">identifiable</span>.
</i></p>
										<p><span class="pull-right secondary">Page 3 of 123</span><br/></p>
										
										</div>
										<p>
										  15 more matches in this document <span class="label label-default">Show</span> <span class="label label-danger"><span class="glyphicon glyphicon-plus-sign" style="font-size: 100%; top: 0.2em; margin-right: 0.5em;" ></span>start new discussion</span>
										</p>

										</div>
										<div class="col-md-4"><p>									<a href="./document-view.html">BT’s amendments to the proposed General Data Protection Regulation </a> <br/><span class="secondary">6 days ago, 12 Pages <span class="badge" style="background-color: #D9534F;">1 discussion</span></span>  <span class="pull-right"><span class="label label-info">#IMCO</span> </span>
										</p>

										</div>
									    </div> <!--row-->
								</li>
						</ul>
					</div>
	
				</div>
			</div>
		
        </div>
      </div>
  
 
        </div> <!-- Jumbotron -->
</div>

{% endblock %}
{% block js %}
    <script>
	</script>
{% endblock js %}
