---
extends: site.j2.html
title: Lobbycloud - Upload
description: Home page for Lobbycloud - Library of influences on public policy. 
---

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron" >
      <div class="container" style="padding-top: 1em; background-color: #ffffff;">
		<div class="row">
			<div class="col-md-12">
				<h1><span class="glyphicon glyphicon-cloud-upload"></span> Upload Lobby Document</h1>
				<div >
				<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-10">
					<h2>After uploading &hellip;</h2>
					<p>&hellip; the text of your document will be publically accessible and embeddable
					</p>
					<p>
					 &hellip; the text will be indexed by search engines like Google and Bing
					</p>
					<p>&hellip; you may highlight, comment, link, discuss and embed parts of the document
					</p>
					<p></p>
				</div>
				<div class="col-md-1">
				</div>
				
				</div>


				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
					</div>
				</div>
				<form>				
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2"> 
						<a class="btn btn-default btn-lg" href="upload-view.html" role="button"><span class="glyphicon glyphicon-folder-open"></span> Choose File</a>
                    </div>
                    <div class="col-md-6">				
					<p class="secondary">
					Lobbycloud can process Word, PDF, OpenOffice, PowerPoint or Excel Files. Max. Size is 600MB. If you have bigger files or other document types, please <a href="#">contact us directly</a>.
					</p>

					</div>
				</div>

				<div class="row"> 
					<div class="col-md-2"></div>
					<div class="col-md-4" style="text-align: left">
					   <input class="form-control input-lg" type="text" placeholder="Add some tags!">
					</div>
					<div class="col-md-4">
					   <p class="secondary">Tags  collect documents that have something in common. Committee names, law proposal names and author names are useful tags.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2"> </div>
					<div class="col-md-4">
					  <input class="form-control input-lg" type="text" placeholder="Name or Alias">
					   <div class="input-group" style="">
							<input class="form-control input-lg" type="text" placeholder="Your contact E-Mail">
							<span class="input-group-addon">
							<input type="checkbox" >make me<br />anonymous 
							</span>
					   </div>
					</div>
					<div class="col-md-4">
					   <p class="secondary">
					   Contact E-Mail will only recieve messages from Lobbycloud relating to Lobbycloud. <br/><br />
					   We encourage you to use your real name.
					   </p>
					</div>
				</div>			
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8"> 
					   <p class="secondary" style="margin-top: 0.7em">
					   If you check the "make me anonymous" checkbox, your name or alias will never appear on this website. There may be other ways of discovering your identity, so if you want your submission to be really hard to trace, please consider taking additional measures as detailed <a href="#">in this FAQ</a>.  
					   </p>
					   
					</div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
				    <div class="col-md-8">
					  <p><span class="pull-right">
					  <a class="btn btn-danger btn-lg" href="upload-view.html" role="button">Start Upload</a>
					  </span></p>
					  <br/>
					  <br/>
					</div>
				</div>
				</form>


				</div>
			</div>
		</div>
	  </div>
   </div>
		
{% endblock %}
{% block js %}
<script src="js/bootstrap-filestyle.js"></script>
<script>
$(":file").filestyle();b
{% endblock js %}
